
html, body {
  height: 100%;
  margin: 0;
}
.head{
  text-align: center;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #706766;
}

.calculator {
    width: 280px;
    height: auto;
    margin: 20px auto;
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    overflow: hidden;
    padding: 20px;
}

#display {
    width: 100%;
    height: 50px;
    text-align: left;
    font-size: 1.2em;
    margin-bottom: 10px;
    border: none;
    background-color: hsl(0, 0%, 20%);
    border-radius: 15px;
    color: white;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    border: 2px;
}

button {
    height: 50px;
    font-size: 1.1em;
    cursor: pointer;
    color: white;
    background-color: black;
    border-radius: 10px;
    border: none;
}

