/* Base styling */
html, body {
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
  font-family: 'Courier New', Courier, monospace;
}

/* Section 1: Topics */
.section-topics {
  min-height: 100vh;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.title {
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 32px;
}

.container {
  display: flex;
  justify-content: center;
  gap: 52px;
  flex-wrap: wrap;
}

.info {
  max-width: 200px;
}

img {
  width: 150px;
  height: 150px;
}

.text {
  font-size: 18px;
}

/* Section 2: Quote Page */
.section-quote {
  height: 100vh;
  width: 100%;
  background-color: #e5e7eb;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  font-family: sans-serif; /* Override Courier for quote section */
  text-align: center;
}

.quote-box {
  max-width: 800px;
  font-size: 25px;
  color: #1f2937;
  line-height: 1.6;
  font-family: light italic;
}

/* Section 3: Note Page */

.modal {
  background: #3882f6;
  width: 480px;
  border-radius: 10px;
  box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.2);
  padding: 16px;
  margin: auto;
  color: white;
}

.three-container {
  width: 100%;
}

/* Make content and button side by side */
.content-with-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.left-content {
  flex: 1;
  margin-right: 32px;
}

.header {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 8px;
  text-align: left;
}

.note-text {
  text-align: left;
}

.button-group {
  display: flex;
  align-items: flex-start;
}

.signup {
  background: royalblue;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 8px;
}

.section-note {
  background: white;         /* Optional, keeps white space around modal */
  padding: 80px 0;           /* Adds space above and below the modal */
  display: flex;
  justify-content: center;
}


.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 15px 0;
  font-family: Arial, sans-serif;
  font-size: 16px;
}




